* {
    margin: 0;
    padding: 0;
    color: white;
}

a {
    text-decoration: none;
}

a:hover{
    background-color: #C0C0C0;
}

body{
    background-color: #151A85;
    
}


.nav-list{
   list-style-type: none;
   align-items: center;
   align-content: center;
   width: 75%
}

.nav-list li{
    padding: 0 .5rem;
    display: inline;
    
}

.nav-list .contact{ 
    float: right;
}


.nav-list .about{
    float: right;
}


.title{
    padding-top: 1rem;
    padding-left: .5rem;
}



.text-h4{
    padding-top: 2rem;
    padding-left: .5rem;
}